<% images.forEach(function(image){ %>
    <p> <%= image.name %> </p>
    <p> <%= image.data %></p>
    <form action="/image/<%= image.name %>" method="POST" enctype="multipart/form-data">
        <input type="submit">delete</imput>
    </form>
<% }) %>
