<form action="/events/new" method="POST">
    <div>
        <input type="text" name="name" placeholder="name">
    </div>
    <div>
        <input type="text" name="image" placeholder="image_url">
    </div>
    <div>
        <input type="text" name="description" placeholder="description">
    </div>
    <div>
        <button>Submit!</button>
    </div>
</form>