<form action="/events/new" method="POST" enctype="multipart/form-data" >
    <div>
        <input type="text" name="name" placeholder="name">
    </div>
    <div>
        <input type="file" name="image" accept="image/*" multiple>
    </div>
    <div>
        <input type="text" name="description" placeholder="description">
    </div>
    <input type="submit"/>
</form>